/* h2{
    font-size: xx-large;
    color: darkgreen;
    background-color: deeppink;
    font-style: unset;
}
.f{
    color: orangered;
}
.img {
  
  width: 300px;
  height: auto;
  border-radius: 300px;
  border: 5px solid #110f99;
  

}
h1
{

    color: rgb(219, 104, 10);
    background-color: rgb(31, 33, 124);
    
    
} */

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 h1 {

text-decoration-line:overline;
text-transform: uppercase;

}

h2 {
  text-decoration-line: line-through;
  text-transform: lowercase;
}

h3 {
  text-decoration-line: underline;
  font: bold;
}

p {
  text-decoration-line: overline underline;
  font-family: 'Courier New', Courier, monospace;

}
/* body {
  background-image: url("/123.jpg");
} */
 *{
    padding: 0%;
    margin: 0%;
     font-family: "Roboto", sans-serif;
 }
